In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle 
import pandas as pd
import numpy as np

WARNING:tensorflow:From c:\Users\hardd\ANN Classification\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
### Load the ANN trained model,scaler pickle file,onehot encoded file
model=load_model('model.h5')

# load the encoder and scalar
with open('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:tensorflow:From c:\Users\hardd\ANN Classification\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [3]:
# Example of input data
input_data={
    'CreditScore':762,	
    'Geography':'Germany',
    'Gender':'Female',
    'Age' : 34,
    'Tenure': 8,
    'Balance' :98592.88,
    'NumOfProducts':1,	
    'HasCrCard':0,
    'IsActiveMember':1,
    'EstimatedSalary':191790.29	
}

In [4]:
# One-hot encode 'Geography'
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\hardd\ANN Classification\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                1.0              0.0

In [5]:
# convert the geo_encoded_df into dataframe
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,762,Germany,Female,34,8,98592.88,1,0,1,191790.29

In [6]:
# Encode the categorical variables
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,762,Germany,0,34,8,98592.88,1,0,1,191790.29

In [ ]:
# Combining the one-hot encoded columns with input data
input_df=pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,762,0,34,8,98592.88,1,0,1,191790.29,0.0,1.0,0.0

In [8]:
## Scaling the input data
input_scaled=scaler.transform(input_df)
input_scaled

array([[ 1.14520727, -1.09499335, -0.46564102,  1.03972843,  0.36009901,
        -0.91668767, -1.54035103,  0.97481699,  1.58842882, -0.99850112,
         1.72572313, -0.57638802]])

In [ ]:
# Prediction probability
prediction_proba=prediction[0][0]
prediction_proba

0.32567677

In [12]:
# Using condition to check wheter the customer will churned or not.
if prediction_proba>0.5:
    print("The customer is likely to churn.")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn